<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
</head>
<body>
<h1 th:text="${user.id != null ? 'Edit User' : 'Add New User'}"></h1>
<form th:action="@{${user.id != null ? '/users/update/' + user.id : '/users/save'}}" method="post">
    <label>Firstname: <input type="text" name="firstname" th:value="${user.firstname}" required></label><br>
    <label>Lastname: <input type="text" name="lastname" th:value="${user.lastname}" required></label><br>
    <label>Email: <input type="email" name="email" th:value="${user.email}" required></label><br>
    <label>Phone: <input type="text" name="phone" th:value="${user.phone}"></label><br>
    <label>Age: <input type="number" name="age" th:value="${user.age}"></label><br>
    <label>City: <input type="text" name="city" th:value="${user.city}"></label><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
